.header {
  padding-bottom: 10px;
  padding-top: 20px;

  .logo {

    img {
      margin: 0 auto;
    }

  }

  .icon-holder-block {
    float: right;
    padding-right: 25px;
    text-align: center;

    .search-holder, .user-holder, .basket {
      display: inline-block;

      a {
        @include  font-size(25px);
        color: $theme-black;
        padding: 0 15px;
      }

    }


  }


}


@media only screen and (max-width: 738px) {

  .header {
    padding-bottom: 0;
  }

}
