.navbar {
    border-radius: 0;
    margin-bottom: 0;
    min-height: 0;

    .container {
      padding: 0;

      @media #{$ipad-portrait} {
        padding: 0 15px;
      }

      @media #{$mobile} {
        padding: 0 15px;
      }

    }

    .navbar-collapse {
      padding: 0;

      @media #{$ipad-portrait} {
        padding: 0 15px;
      }

      @media #{$mobile} {
        width: 100%;
      }

      .nav {
        padding: 0;
        position: relative;
        width: 100%;

        @media #{$ipad-portrait} {
          margin: 7.5px 0;
          padding: 5px 10px;
        }

        .open {

          .toggle {

            .fa-plus {
              display: none;
            }

            .fa-minus {
              display: block;
            }

          }

        }

        li {
          @include font-size(12px);
          display: inline-block;
          line-height: 18px;
          margin-right: 2.9%;
          max-width: 12%;
          position: static;
          text-align: center;
          vertical-align: top;

          @media #{$mobile} {
            display: block;
            max-width: 100%;
            text-align: left;
          }

          .category-icon {
            display: inline-block;
            float: left;

            @media #{$ipad-portrait} {
              margin-right: 10px;
            }

            @media #{$mobile} {
              margin-right: 10px;
            }

          }

          @media only screen and (min-width: 1200px) {

            &:hover {

              .dropdown-menu {
                display: block;
              }

            }

          }

          @media #{$ipad-landscape} {
            max-width: 11%;
          }

          @media #{$ipad-portrait} {
            display: block;
            max-width: 100%;
            text-align: left;
            width: 100%;
          }

          .toggle {
            float: right;

            .fa-plus {
              display: block;
            }

            .fa-minus {
              display: none;
            }

          }

          .dropdown-toggle {
            padding-bottom: 30px;
          }

          a {
            @include font-size(12px);
            background-color: transparent;
            color: $theme-black;
            display: inline;
            font-family: $font-stack;
            font-weight: bold;
            line-height: 18px;
            margin-right: 2.9%;
            max-width: 12%;
            padding: 0;
            text-align: center;
            text-transform: none;
            vertical-align: top;

            @media #{$ipad-portrait} {
              color: #838383;
              line-height: 2;
            }

          }

        }

        .dropdown-menu {
          background-color: #efefef;
          border: 0;
          border-radius: 0;
          box-shadow: 0 7px 5px -3px rgba(0, 0, 0, 0.23);
          margin-top: 15px;
          padding: 20px;
          width: 70%;

          @media #{$ipad-landscape} {
            top: 74px;
            width: 980px;
          }

          @media #{$ipad-portrait} {
            box-shadow: none;
            padding: 0;
            position: relative;
            top: 5px;
            width: 100%;
          }

          @media #{$mobile} {
            background-color: transparent;
            box-shadow: none;
            float: left;
            margin-top: 10px;
            padding: 10px;
            width: 100%;
          }

        }

      }

      .column-holder {
        float: left;
        overflow: hidden;
        padding: 2px 13px;
        width: 80%;

        @media #{$ipad-portrait} {
          width: 100%;
        }

        .column {
          float: left;
          margin-bottom: 15px;
          margin-right: 20px;
          width: 240px;

          @media #{$ipad-landscape} {
            width: 220px;
          }

          @media #{$ipad-portrait} {
            margin-bottom: 5px;
            margin-right: 0;
            width: 100%;
          }

          .drop-title {
            border-bottom: 1px solid $theme-border-grey;
            color: $theme-black;
            display: block;
            margin-bottom: 5px;
            max-width: 100%;
            padding-bottom: 8px;
            text-align: left;
          }

          .sub-cat-holder {

            li {
              display: block;
              max-width: 100%;
              text-align: left;

              a {
                border-bottom: 0;
                color: $theme-black;
                display: block;
                font-weight: normal;
                margin: 8px 0;
                max-width: 100%;
                text-align: left;
              }

            }

          }

        }

      }

      .visual-block {
        float: right;
        width: 20%;

        .block-title {
          @include font-size(16px);
          color: $theme-black;
          display: block;
          margin: 10px 0;
        }

        p {
          @include font-size(12px);
        }

      }

    }

}


.navbar-toggle {
  color: #838383;
  float: none;
  margin-right: 0;
  margin-top: 0;
  padding-top: 4px;

  i {
    @include font-size(25px);
  }

  @media #{$ipad-portrait} {
    display: block;
  }

}

@media only screen and (max-width: 738px) {

  .header {

    .navbar {
      border-top: 1px solid $border-gray;
      margin-top: 15px;
      min-height: 0;
      text-align: center;

      .navbar-nav {
        border-top: 1px solid $border-gray;
        margin: 0;
        text-align: left;
      }

      .menu-toggle {
        border-right: 1px solid $border-gray;

        .navbar-toggle {
          border: 0;
          float: none;
          margin-bottom: 0;
          margin-right: 0;
          margin-top: 0;
          padding: 17px 0;

          i {
            @include  font-size(20px);
            color: $text-color;
          }

        }


      }

      .search,
      .favourites,
      .mobile-cart {
        border-right: 1px solid $border-gray;

        a {
          @include  font-size(20px);
          color: $text-color;
          display: block;
          padding: 17px 0;
        }

      }

      .mobile-cart {
        border-right: 0;
      }

    }

  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  .header {
    padding-bottom: 0;

    .navbar {
      border-top: 1px solid $border-gray;
      margin-top: 15px;
      min-height: 0;
      text-align: center;

      .navbar-nav {
        margin: 0 -15px;
        text-align: left;

        li {
          float: none;
        }

      }

      .menu-toggle {
        border-right: 1px solid $border-gray;

        .navbar-toggle {
          border: 0;
          display: block;
          float: none;
          margin-bottom: 0;
          margin-right: 0;
          margin-top: 0;
          padding: 17px 0;
          width: 100%;

          i {
            @include  font-size(20px);
            color: $text-color;
          }

        }


      }

      .search,
      .favourites,
      .mobile-cart {
        border-right: 1px solid $border-gray;

        a {
          @include  font-size(20px);
          color: $text-color;
          display: block;
          padding: 17px 0;
        }

      }


      .navbar-collapse {
        display: none !important;
      }

      .navbar-collapse.in {
        display: block !important;
      }

    }

  }

}

