.checkout-cart-index {

  .page-title {
    margin-bottom: 20px;
    overflow: hidden;

    h1 {
      @include font-size(27px);
      color: $theme-black;
      display: inline-block;
      float: left;
      text-transform: none;

      @media #{$mobile} {
        @include font-size(21px);
        display: block;
        float: none;
        margin: 20px 0;
        text-align: center;
      }

    }

    .checkout-types {
      display: inline-block;
      float: right;

      @media #{$mobile} {
        display: block;
        float: none;
        padding: 0 10px;
      }

    }

  }

  form {

    @media #{$mobile} {
      padding: 0 10px;
    }

  }

  .price-holder {
    margin-bottom: 10px;

    .price {
      @include font-size(15px);
      color: $theme-black;
    }

  }

  .cart-table {
    clear: both;
    margin-bottom: 25px;
    width: 100%;

    thead {
      background-color: #f7f7f7;

      th {
        padding: 15px 10px;

        span {
          @include font-size(13.43px);
          color: #424242;
          font-family: $font-stack;
          font-weight: bold;
        }

      }

    }

    tbody {

      tr {
        border-bottom: 1px solid #ececec;

        @media #{$mobile} {
          border: 1px solid #ececec;
          display: block;
          margin-bottom: 10px;
          padding: 10px 0;
          overflow: hidden;
        }

      }

    }

    .product-cart-image {
      width: 10%;

      @media #{$mobile} {
        display: inline-block;
        float: left;
        margin: 0 10px;
        width: 40%;
      }

    }

    .product-cart-info {
      width: 45%;

      @media #{$mobile} {
        display: inline-block;
        float: left;
        width: 50%;
      }

      .product-name {
        margin-bottom: 7px;

        a {
          @include font-size(13.55px);
          color: #6b6b6b;
          font-family: $font-stack;
          font-weight: 100;
          text-transform: none;
        }

      }

      .product-cart-sku {
        @include font-size(12.58px);
        color: #9f9f9f;
        font-family: $font-stack;
        font-weight: 100;

        @media #{$mobile} {
          margin-bottom: 15px;
          margin-top: 10px;
        }

        span {
          @include font-size(12.58px);
          color: #9f9f9f;
          font-family: $font-stack;
          font-weight: 100;
          padding: 0;
        }

      }

    }

    .product-cart-price {
      width: 20%;

      .cart-price {
        @include font-size(15px);
        color: $theme-black;
      }

    }

    .product-cart-actions {
      width: 20%;

      @media #{$mobile} {
        display: inline-block;
        float: left;
        width: 80%;
      }

      input {
        border: 1px solid #959595;
        font-family: $font-stack;
        height: 30px;
        text-align: center;
        width: 50px;
      }

      button {
        background-color: transparent;
        border: 0;

        span {
          text-decoration: underline;
        }

      }

    }

    .product-cart-remove {
      width: 5%;

      @media #{$mobile} {
        display: inline-block;
        float: right;
        width: 15%;
      }

      .fa-times {
        @include font-size(15px);
        color: $theme-black;
      }

    }

  }

  .delivery-info-block {
    margin-right: 15px;

    @media #{$mobile} {
      margin-right: 0;
    }

    .btn-continue {
      background-color: #f7f7f7;
      border: 0;
      border-radius: 0;
      @include font-size(15px);
      font-family: $font-stack;
      margin-bottom: 20px;
      padding: 10px;
      width: 50%;

      @media #{$mobile} {
        width: 60%;
      }

      @media #{$ipad-portrait} {
        width: 70%;
      }

    }

    .promo-banner {
      border: 1px solid #e4e4e4;
      margin-bottom: 10px;
      overflow: hidden;
      padding: 10px;

      img {
        margin: 0 auto;
      }

      .block-title {
        @include font-size(15px);
        font-family: $font-stack;

        @media #{$ipad-portrait} {
          @include font-size(12px);
        }

      }

      p {
        @include font-size(12px);
        color: #606060;
        font-family: $font-stack;

        @media #{$ipad-portrait} {
          @include font-size(10px);
        }

      }

    }

  }

  .coupon-block {
    background-color: #f7f7f7;
    margin: 0 15px;
    padding: 20px;

    @media #{$mobile} {
      margin: 0;
    }

    h2 {
      @include font-size(18px);
      color: #4c4949;
      font-family: $font-stack;
      font-weight: 100;
      margin-bottom: 20px;
      text-transform: none;

      @media #{$ipad-portrait} {
        @include font-size(16px);
        margin-bottom: 5px;
      }

      @media #{$ipad-landscape} {
        margin-bottom: 7px;
      }

    }

    .discount-form {

      p {
        @include font-size(13px);
        color: #4c4949;
        font-family: $font-stack;
        margin-bottom: 15px;

        @media #{$ipad-portrait} {
          margin-bottom: 10px;
        }

      }

      input {
        border: 0;
        border-radius: 0;
        display: inline-block;
        height: 38px;
        margin-right: 5px;
        width: 75%;

        @media #{$ipad-portrait} {
          width: 65%;
        }

        @media #{$ipad-landscape} {
          width: 70%;
        }

        @media #{$mobile} {
          width: 70%;
        }

      }

      .button-wrapper {
        display: inline-block;
        margin-left: 5px;
        width: 21%;

        @media #{$ipad-portrait} {
          width: 28%;
        }

        @media #{$ipad-landscape} {
          width: 25%;
        }

        @media #{$mobile} {
          width: 24%;
        }

        button {
          @include font-size(14.52px);
          background-color: #969696;
          border: 0;
          border-radius: 0;
          color: $theme-white;
          height: 38px;
          width: 100%;
        }

      }

    }

  }

  .btn-proceed-checkout {
    background-color: $theme-black;
    border: 0;
    border-radius: 0;
    color: $theme-white;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
  }

  .cart-totals-wrapper {
    margin-left: 15px;

    @media #{$mobile} {
      margin: 20px 0;
    }

    #shopping-cart-totals-table {
      width: 100%;
    }

    tbody {

      td {
        @include font-size(16.16px);
        color: #5a5a5a;
        font-family: $font-stack;
        padding: 10px 0;
        text-align: right;

        &:first-of-type {
          padding-right: 20%;
        }

      }

    }

    tfoot {
      border-top: 1px solid #e9e9e9;

      td {

        &:first-of-type {
          padding-right: 20%;
        }

      }

      strong {
        @include font-size(21px);
        color: $theme-black;
        display: block;
        font-family: $font-stack;
        font-weight: bold;
        padding: 10px 0;
        text-align: right;

        @media #{$ipad} {
          @include font-size(20px);
        }

      }

    }

  }

}





