.cms-index-index {

  .home-custom {

    .hero-block {
      position: relative;
      overflow: hidden;

      .text-block-holder {
        position: absolute;
        top: 35%;
        text-align: center;
        width: 100%;

        @media only screen and (max-width: 767px) {
          top: 10%;
        }

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          top: 20%;
        }


        .block-title {
          @include font-size(56px);
          color: $theme-white;
          display: block;
          margin-bottom: 40px;

          @media only screen and (max-width: 767px) {
            @include font-size(20px);
            margin-bottom: 20px;
          }

        }

        p {
          @include font-size(19px);
          border: 1px solid $theme-white;
          color: $theme-white;
          margin: 0 auto;
          padding: 10px;
          width: 230px;
        }

      }

    }

  }

}
