.cms-index-index {

  .home-custom {

    .insta-block {
      border-top: 1px solid $border-gray;
      margin-top: 50px;
      padding-top: 30px;

      @media only screen and (max-width: 767px) {
        border: 0;
        margin-top: 10px;
        padding-top: 0;
      }

      .mobile-title {
        @include  font-size(14px);
        display: block;
        text-align: center;

        .mobile-main-title {
          @include  font-size(22px);
          display: block;
          padding-bottom: 20px;
          padding-top: 10px;
        }

      }

      .block-title {
        @include  font-size(42px);
        background-color: $theme-white;
        color: $text-color;
        display: block;
        margin: -50px 40% 20px;
        position: relative;
        text-align: center;
        width: 20%;

        .sub-title {
          @include  font-size(18px);
          display: block;
          padding-top: 10px;
          text-align: center;

        }

      }

    }

  }

}

