
.cms-index-index {

  .home-custom {

    .sign-up-block.main {
      display: block;
      margin-bottom: 30px;
    }

    .sign-up-block {
      display: none;
    }
  }

}

.sign-up-block {
  clear: both;
  position: relative;

  .form-holder {
    margin-top: 20px;
  }

  img {

    @media only screen and (max-width: 767px) {
      height: 150px;
    }

  }

  .sign-up-text-holder {
   left: 30%;
   position: absolute;
   text-align: center;
   top: 30%;
    width: 40%;

    @media only screen and (max-width: 767px) {
      left: 0;
      padding: 0 10px;
      width: 100%;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      left: 100px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      left: 230px;
    }

    .input-box {
      display: inline-block;
      width: 80%;

      @media only screen and (max-width: 767px) {
        width: 60%;
      }

      input {
        @include font-size(14px);
        border: 0;
        height: 40px;
        padding: 10px;
        width: 100%;
      }

    }

    .actions {
      display: inline-block;
      width: 19%;
      
      @media only screen and (max-width: 767px) {
        width: 25%;
      }

      button {
        @include font-size(14px);
        background-color: $theme-white;
        border: 0;
        height: 40px;
        margin-left: 10px;
        padding: 13px 10px;
        width: 100%;

        @media only screen and (max-width: 767px) {
          padding: 11px 10px;
        }

      }

    }


   .block-title {
     @include  font-size(32px);
     color: $theme-white;
     display: block;

     @media only screen and (max-width: 767px) {
       @include  font-size(19px);
       margin-bottom: 20px;
     }

   }

  }

}
