.contact {

  &__banner {
    background: url('/skin/frontend/rwd/pristinestyles/images/contact-banner.jpg');
    height: 250px;

    h1 {
      @include font-size(62px);
      color: $theme-white;
      padding-top: 100px;
      text-align: center;
      text-transform: capitalize;

      @media #{$mobile-landscape} {
        @include font-size(42px);
      }
    }
  }

  &__wrapper {
    margin: 50px auto;

    h2 {
      @include font-size(27px);
      margin-bottom: 40px;
      text-transform: capitalize;
    }
  }

  &__form {

    label {
      margin-bottom: 10px;
    }

    input,
    select {
      border: 1px solid $border-gray;
      height: 30px;
      margin-bottom: 10px;
      width: 90%;

      @media #{$ipad-landscape} {
        width: 100%;
      }

      @media #{$mobile} {
        width: 100%;
      }

    }

    textarea {
      border: 1px solid $border-gray;
      height: 200px;
      margin-bottom: 10px;
      width: 90%;

      @media #{$ipad-landscape} {
        width: 100%;
      }

      @media #{$mobile} {
        width: 100%;
      }

    }

    button {
      @include font-size(20px);
      background-color: $theme-black;
      border: 0;
      color: $theme-white;
      float: right;
      margin-right: 55px;
      padding: 10px 50px;

      @media #{$ipad-landscape} {
        margin-right: 0;
      }

      @media #{$mobile} {
        display: block;
        float: none;
        margin: 0 auto 10px;
      }

      &:hover {
        background-color: lighten($theme-black, 20%);
        transition: .3s ease-in;
      }
    }
  }

  &__info {
    background-color: $theme-grey-bg;
    min-height: 595px;
    padding: 40px 60px;

    @media #{$mobile-landscape} {
      margin-top: 20px;
    }

    .p--mb20 {
      margin-bottom: 20px;
    }

    strong {
      margin-right: 5px;
    }
  }
}
