$dark-gray: #515151;
$border-gray: #adadad;
$text-color: #333;
$light-gray: #efefef;
$category-border-gray: #c3c3c3;
$product-border: #e9e9e9;
$product-accordion-body: #f5f5f5;
$font-stack: 'Arial Regular', sans-serif;
$view-green: #0eeb32;

$theme-dark-grey: #565656;
$theme-black: #000;
$theme-grey: #cacaca;
$theme-white: #fff;
$theme-grey-bg: #f4f4f4;


//theme borders
$theme-border-grey: #dcdcdc;
$theme-border-v-light-grey: #e9e9e9;

//warning colors
$theme-warning-red: #f00;

// media queries //

$ipad: 'only screen and (min-width: 768px) and (max-width: 1024px)';
$ipad-portrait: 'only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)';
$ipad-landscape: 'only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)';
$mobile: 'only screen and (max-width: 767px)';
$mobile-portrait: 'only screen and (max-width: 767px) and (orientation: portrait)';
$mobile-landscape: 'only screen and (max-width: 767px) and (orientation: landscape)';


