.catalog-product-view {

  .btn-info {
    @include font-size(12px);
    background-color: transparent;
    border: 0;
    color: $theme-black;
    outline: none;
    padding: 10px 0;

    .fa-paperclip {
      padding-right: 5px;
    }

  }

  .size-guide-inches {

    th {
      padding-top: 15px;
      text-align: center;
    }

  }

  .modal-dialog {
    margin: 30px auto;
    width: 1000px;

    .modal-content {
      padding: 30px;
    }

    .size-guide {
      table-layout: fixed;
      width: 100%;

      tbody {

        tr:hover {
          background: #efefef;
          cursor: pointer;
        }

        .size-divider:hover {
          background: none;
        }

      }

    }

    tbody {

      td {
        @include font-size(12px);
        padding: 6px 0;
        text-align: center;
      }

      .size-divider {

        td {
          color: #8d8d8d;
          font-weight: bold;
          padding: 25px 0 10px;
        }

      }

    }

    td {
      border-right: 1px solid $theme-grey-bg;

      &:last-of-type {
        border-right: 0;
      }

    }

  }

}



