.catalog-product-view {

  .header {
    border-bottom: 1px solid $border-gray;
    margin-bottom: 20px;
  }

  .breadcrumbs, .page-title {
    display: none;
  }

  .product-name {
    margin-bottom: 20px;

    @media only screen and (max-width: 767px) {
      margin-top: 15px;
    }

    h1 {
      @include font-size(30px);
      font-family: $font-stack;
      font-weight: normal;
      text-transform: none;

      @media only screen and (max-width: 767px) {
        @include font-size(21.41px);
      }

    }

  }

  .stock-notification-block {
    margin-bottom: 5px;

    .availability {

      .label {
        display: none;
      }

    }

    .in-stock {

      .value {
        color: $view-green;
      }

    }

  }

  .price-info {
    margin-bottom: 20px;

    .price {
      @include font-size(30px);
      font-family: $font-stack;

      @media only screen and (max-width: 767px) {
        @include font-size(21.41px);
      }

    }

  }

  .short-description {

    .std {
      @include font-size(15px);
      color: $theme-black;
      font-family: $font-stack;
      font-weight: 100;
      line-height: 1.3;
    }

  }

  .content-accordion {
    margin-top: 20px;


    .panel-title {

      a {
        @include font-size(16px);

        .toggle {
          float: right;

          .fa-angle-down {
            display: none;
          }

          .fa-angle-up {
            display: block;
          }

        }

      }

      .collapsed {

        .toggle {

          .fa-angle-down {
            display: block;
          }

          .fa-angle-up {
            display: none;
          }

        }

      }

    }

    .panel-default {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      margin-top: 0;

      .panel-heading {
        background-color: transparent;
        border-radius: 0;
        border-top: 1px solid $product-border;
      }

      .panel-body {
        background-color: $product-accordion-body;
        padding: 20px 40px;

        @media only screen and (max-width: 767px) {
          padding: 20px;
        }

        p {
          @include font-size(14px);
          color: #7c7c7c;
          font-family: $font-stack;
        }

        .cuff-text {
          color: #5f5f5f;
          font-weight: 600;
          margin: 10px 0;
          width: 50%;

          @media only screen and (max-width: 767px) {
            width: 100%;
          }

          @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
            width: 80%;
          }

          span {
            color: #7c7c7c;
            display: block;
            float: right;
            font-weight: 300;
            text-align: left;
            width: 70%;
          }

        }

      }

    }

  }

  .button-holder {
    overflow: hidden;

    .add-to-cart-buttons {
      display: inline-block;
      float: right;
      width: 49%;

      @media only screen and (max-width: 767px) {
        float: none;
        margin-bottom: 10px;
        width: 100%;
      }


      button {
        @include font-size(17px);
        background-color: $theme-black;
        border: 0;
        color: $theme-white;
        font-family: $font-stack;
        font-weight: bold;
        height: 53px;
        text-transform: uppercase;
        width: 100%;
      }

    }

    .qty-wrapper {
      margin: 20px 0;

      label {
        @include font-size(14px);
        color: #6b6b6b;
        font-family: $font-stack;
        padding-right: 5px;
      }

      input {
        @include font-size(14px);
        border: 1px solid #c7c7c7;
        border-radius: 0;
        height: 40px;
        text-align: center;
        width: 94%;

        @media only screen and (max-width: 767px) {
          width: 88%;
        }

        @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
          width: 91%;
        }

        @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
          width: 93%;
        }

      }

    }

    .add-to-links {
      display: inline-block;
      float: left;
      width: 49%;

      @media only screen and (max-width: 767px) {
        float: none;
        margin-bottom: 10px;
        width: 100%;
      }


      li {

        a {
          @include font-size(17px);
          background-color: $product-accordion-body;
          color: #8b8b8b;
          display: block;
          height: 53px;
          padding: 20px;
          text-align: center;
          text-transform: uppercase;
          width: 100%;

          @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
            @include font-size(16px);
          }

        }

        &:last-of-type {
          display: none;
        }

      }

    }

    .input-box {
      width: 48%;

      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        width: 46%;
      }

      @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        width: 47%;
      }

      &:nth-of-type(2) {
        display: inline-block;
        margin-left: 10px;

        @media only screen and (max-width: 767px) {
          margin-left: 0;
        }

      }

      &:nth-of-type(1) {
        display: inline-block;
        margin-right: 10px;

        @media only screen and (max-width: 767px) {
          margin-right: 0;
        }

      }

      select {
        @include font-size(14px);
        border: 1px solid #c7c7c7;
        border-radius: 0;
        box-shadow: none;
        color: #6b6b6b;
        font-family: $font-stack;
        height: 40px;
        width: 100%;
      }

      .validation-advice {
        @include font-size(12px);
        color: $theme-warning-red;
        margin-top: 10px;
      }

    }


    label {
      @include font-size(14px);
      margin-bottom: 10px;

      em {
        float: right;
        padding-left: 5px;
      }

    }

    p.required {
      display: none;
    }

  }

  .delivery-info-block {
    border-bottom: 1px solid $product-border;
    border-top: 1px solid $product-border;
    clear: both;
    margin: 20px 0;
    overflow: hidden;
    padding: 20px 0;

    p {
      width: 70%;

      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        width: 100%;
      }

      span {
        float: right;
        width: 75%;
      }

    }

  }

}




