<div class="category-banner-block">
    <?php

    $_helper    = $this->helper('catalog/output');
    $_category = Mage::registry('current_category');
    if(is_object($_category) && $_category->getId() && $_category->getLevel() == 2)
    {
        if ($_imgUrl = $_category->getImageUrl()) {
            $_imgHtml = '<p class="category-image"><img class="img-responsive" src="'.$_imgUrl.'" alt="'.$this->escapeHtml($_category->getName()).'" title="'.$this->escapeHtml($_category->getName()).'" /></p>';
            $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');

            if($_imgUrl)
            {
                echo $_imgHtml;
            }
        }

        ?>
        <div class="text-holder">
            <h1 class="category-banner-text"><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
            <p class="category-text"><?php echo $_helper->categoryAttribute($_category, $_category->getCategoryshortdesc(), 'shortdescription') ?>e</p>
        </div>
    <?php } ?>
</div>