.customer-account {

  .col-main {
    margin: 30px 0;
  }

  .block-account {

    .block-title {
      display: none;
    }

    .block-content {

      @media #{$ipad-portrait} {
        margin-top: 20px;
      }

      @media #{$mobile} {
        margin-top: 20px;
      }

      ul {

        li {
          display: inline-block;
          padding-right: 9px;

          @media #{$ipad-portrait} {
            display: block;
            padding-top: 5px;
          }

          @media #{$mobile} {
            display: block;
            padding-top: 5px;
          }

          &:last-of-type {
            padding-right: 0;
          }

          &:nth-of-type(6),
          &:nth-of-type(9) {
            display: none;
          }

          a {
            @include font-size(16px);
            color: $theme-black;
            letter-spacing: .1px;
          }

        }

        .current {

          a {
            text-decoration: underline;
          }

        }

      }

    }

  }

  .my-account {

    p {
      @include font-size(13px);
      font-family: $font-stack;
      margin-bottom: 10px;
    }


    h1,
    h2 {
      margin-bottom: 10px;
      text-transform: none;
    }

    h1 {
      @include font-size(16px);
      border-bottom: 1px solid $theme-border-grey;
      padding-bottom: 10px;
    }

    h2 {
      @include font-size(15px);
    }

    h3 {
      @include font-size(14px);
      font-weight: bold;
      font-family: $font-stack;
    }

    a {
      @include font-size(13px);
      display: block;
      font-family: $font-stack;
      margin: 10px 0;
    }

    address {
      @include font-size(13px);
      font-family: $font-stack;
    }

    .col2-set {
      clear: both;
      overflow: hidden;
      padding-bottom: 10px;

      .col-1,
      .col-2 {
        float: left;
        width: 50%;

        @media #{$mobile} {
          width: 100%;
        }

      }

    }

    button {
      @include font-size(12px);
      background-color: $theme-black;
      border: 0;
      border-radius: 0;
      color: $theme-white;
      display: block;
      font-family: $font-stack;
      height: 30px;
      text-transform: uppercase;
      width: 20%;

      @media #{$mobile} {
        width: 50%;
      }
    }

    .fields,
    .field,
    .control,
    .wide {
      clear: both;
      overflow: hidden;
    }

    .control {
      padding: 5px 0;

      input {
        float: left;
        margin-right: 10px;
        margin-top: 0;
        width: auto;
      }

      label {
        float: left;
        padding-top: 0;
        width: auto;
      }

    }

    label {
      display: inline-block;
      font-family: $font-stack;
      float: left;
      margin-right: 10px;
      padding-top: 10px;
      text-align: right;
      width: 20%;

      @media #{$mobile} {
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
      }

      em {
        float: right;

        @media #{$mobile} {
          float: left;
          margin-right: 10px;
        }

      }

    }

    .input-box {
      display: inline-block;
      float: left;
      width: 40%;

      @media #{$mobile} {
        width: 100%;
      }

      input,
      select {
        border: 1px solid $theme-border-grey;
        font-family: $font-stack;
        height: 30px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
      }

    }

  }

}








