// rem it up
@function calculaterem($size) {
  $remsize: $size / 10px;
  @return $remsize * 1rem;
}

@mixin font-size($size) {
  font-size: calculaterem($size);
  //will cause lint warning but it used for font-size fall back
  font-size: $size;
}