.customer-account-login {

  .main-container {
    background: url('/skin/frontend/rwd/pristinestyles/images/login-bg.jpg')no-repeat scroll center 0 transparent;
    height: 670px;
    margin-bottom: 20px;
  }

  .box {
    background-color: $theme-white;
    margin: 50px auto;
    width: 500px;

    @media #{$mobile} {
      width: 300px;
    }

    .registered-users {
      padding: 20px;
      text-align: center;

      input {
        border: 1px solid $theme-border-grey;
        height: 30px;
        margin-bottom: 8px;
        padding: 5px;
        width: 50%;

        @media #{$mobile} {
          width: 90%;
        }

      }

      .f-left {
        @include font-size(12px);
        color: $dark-gray;
        display: block;
        margin-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
      }

    }

    h2 {
      @include font-size(16px);
      border-bottom: 1px solid $theme-border-grey;
      margin: 5px 0 20px;
      padding-bottom: 20px;
    }

    p {
      @include font-size(12px);
      margin-bottom: 10px;
    }

    button {
      @include font-size(12px);
      background-color: $theme-black;
      border: 0;
      border-radius: 0;
      color: $theme-white;
      display: block;
      height: 30px;
      margin: 0 auto;
      text-transform: uppercase;
      width: 50%;

      @media #{$mobile} {
        width: 90%;
      }

    }

    .new-users {
      background-color: #eeeee8;
      padding: 20px;
      text-align: center;

      h2 {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 10px;
      }

    }

  }


}




