.customer-account-create {

  .field {
    clear: both;
    overflow: hidden;

  }

  label {
    @include font-size(12px);
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: right;
    width: 15%;

    @media #{$ipad} {
      width: 20%;
    }

    @media #{$mobile} {
      width: 33%;
    }

    em {
      @include font-size(10px);
      float: right;
      padding-left: 5px;
    }

  }

  h2 {
    @include font-size(18px);
    margin: 20px 0;
  }

  button {
    @include font-size(12px);
    background-color: $theme-black;
    border: 0;
    border-radius: 0;
    color: $theme-white;
    display: block;
    height: 30px;
    text-transform: uppercase;
    width: 20%;

    @media #{$mobile} {
      width: 50%;
    }
  }

  .input-box {
    display: inline-block;
    float: left;

    input {
      border: 1px solid $theme-border-grey;
      height: 30px;
      width: 250px;

      @media #{$mobile} {
        width: 220px;
      }
    }

  }

  .buttons-set {
    margin-bottom: 20px;
  }

  .control {
    border-top: 1px solid $theme-border-grey;
    clear: both;
    margin-top: 10px;
    overflow: hidden;

    label {
      padding-left: 10px;
      padding-top: 4px;
      width: auto;

      @media #{$mobile} {
        padding-left: 5px;
        width: 340px;
      }
    }

    .input-box {

      input {
        height: auto;
        width: auto;
      }

    }

    p {
      @include font-size(12px);
      clear: both;
    }

  }

}

