<?php
$main_cat = Mage::getModel('catalog/category')->load(2);
$categories = $main_cat->getCollection();
$categories->addAttributeToSelect('*')
    ->addAttributeToFilter('is_active', 1)
    ->addAttributeToFilter('include_in_menu', 1)
    ->addIdFilter($main_cat->getChildren())->addAttributeToSort('position', 'asc');
?>

<nav class="navbar navbar-main">
    <div class="navbar-header hidden-lg hidden-md col-xs-12">
        <div class="row">
            <div class="col-xs-3 menu-toggle">
                <div class="row">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-3 search">
                <a id="search-toggle-2" href="#">
                    <i class="fa fa-search"></i>
                </a>
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        jQuery(document).on('click', '#search-toggle', function () {
                            jQuery("#header-search-main").toggle();
                        });
                    });
                </script>
            </div>
            <div class="col-xs-3 favourites">
                <a href="#">
                    <i class="fa fa-user"></i>
                </a>
            </div>
            <div class="col-xs-3 mobile-cart">
                <a href="#">
                    <?php echo $this->getChildHtml('minicart_head'); ?>
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <?php foreach ($categories as $category): ?>
                    <?php if ($category->getName() != "All Default Category"): ?>
                        <li>
                            <?php if ($category->getThumbnailImg()) : ?>
                                <img class="category-icon" style="width:20px; height: 20px;" src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$category->getThumbnailImg(); ?>" alt="category icon"/>
                            <?php endif; ?>
                            <a href="<?php echo $category->getUrl(); ?>" class="dropdown-toggle hidden-xs hidden-sm hidden-md" role="button">
                                <?php echo $category->getName(); ?>
                            </a>
                            <a href="<?php echo $category->getUrl(); ?>" class="dropdown-toggle hidden-lg" data-toggle="dropdown" role="button">
                                <?php echo $category->getName(); ?>
                                <span class="toggle hidden-lg hidden-md">
                                                                <i class="fa fa-plus"></i>
                                                                <i class="fa fa-minus"></i>
                                                            </span>
                            </a>
                            <?php if ($category->hasChildren()): ?>
                                <?php $children = $category->getChildrenCategories(); ?>
                                <div class="dropdown-menu" role="menu">
                                    <div class="column-holder">
                                        <div class="column hidden-xs hidden-lg">
                                            <ul>
                                                <li>
                                                    <a href="<?php echo $category->getUrl(); ?>" title="">
                                                        View all <?php echo $category->getName(); ?>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <?php foreach ($children as $sub_category): ?>
                                            <div class="column">
                                                <a id="drop-1" class="drop-title" href="<?php echo $sub_category->getUrl(); ?>"><?php echo $sub_category->getName(); ?></a>
                                                <?php if ($sub_category->hasChildren()): ?>
                                                    <?php $subChildren = $sub_category->getChildrenCategories(); ?>
                                                    <ul class="sub-cat-holder" role="menu">
                                                        <?php foreach ($subChildren as $sub_sub_category): ?>
                                                            <li>
                                                                <a id="drop-1" href="<?php echo $sub_sub_category->getUrl() ?>"><?php echo $sub_sub_category->getName(); ?></a>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    </ul>
                                                <?php endif; ?>
                                            </div>
                                        <?php endforeach; ?>
                                    </div>
                                    <div class="visual-block hidden-xs hidden-sm">
                                        <div class="image-holder">
                                            <img class="img-responsive" src="<?php if ($category) {echo Mage::getBaseUrl('media').'catalog/category/'.$category->getImage();} ?>">
                                        </div>
                                        <div class="content-holder">
                                            <span class="block-title"><?php if ($category) {echo $category->getCustomTextTitle();} ?></span>
                                            <p><?php if ($category) {echo $category->getCustomText();} ?></p>
                                        </div>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        </div>

    </div>
</nav>