// Vivo Fashion Theme CSS by Smartebusiness (www.smartebusiness.co.uk)

// Global Styles

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

html {
  font-size: 62.5%;
}

body {
  font-family: 'Droid Serif', serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 1.4rem;
  $text-color: #333333;
  font-weight: 400;
  line-height: 1.5;
}

li {
  list-style: none;
  font-weight: 300;
  font-size: 1.3rem;
  color: #5b5b5b;
}

.demo-notice {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0;
  border-radius: 0;
}

.success-msg {
  ul > li {
    color: #1b1b1b;
    text-align: center;
    list-style: none;
  }
}

.social-list {

  li {
    display: inline-block;

    a {
      color: $dark-gray;
      font-size: 16px;
      padding: 0 3px;
    }


  }

}


@media only screen and (max-width: 738px) {

  .mobile-row {
    margin-left: 0;
    margin-right: 0;
  }

}
