.catalog-category-view {

  .breadcrumbs, .page-title {
    display: none;
  }

  .category-banner-block {
    margin-bottom: 25px;
    position: relative;

    .text-holder {
      position: absolute;
      text-align: center;
      top: 60px;
      width: 100%;

      .category-banner-text {
        @include font-size(58px);
        color: $theme-white;
      }

      p {
        color: $theme-white;
        padding: 20px 100px;
      }

    }

  }

  .category-products {
    clear: both;
    margin-bottom: 40px;
    overflow: hidden;

    .product-shop {
      margin-top: 10px;
      text-align: center;

      .product-name {

        a {
          @include font-size(18px);
          color: $theme-black;
        }

      }

      .price {
        @include font-size(30px);
        color: $theme-black;
        display: block;
        margin: 7px 0;
      }

      .read-btn {
        background-color: $view-green;
        display: block;
        margin: 5px auto;
        padding: 10px;
        width: 55%;

        @media #{$mobile} {
          width: 80%;
        }


        a {
          @include font-size(14px);
          color: $theme-white;
          text-transform: uppercase;
        }

      }

    }

  }

}



