.delivery {
  border-top: 1px solid $border-gray;
  padding: 30px 50px;
  margin-top: 30px;

  .text-holder {
    border-right: 1px solid $border-gray;
    overflow: hidden;
    padding: 10px;

    @media only screen and (max-width: 767px) {
      border-bottom: 1px solid $border-gray;
      border-right: 0;

    }

    &:nth-of-type(3) {
      border-right: 0;
    }

    .tick-holder {

      i {
        @include  font-size(40px);
        color: $text-color;
        padding-top: 20px;
      }

    }

    .content-holder {

      .block-title {
        @include  font-size(18px);
        display: block;
        margin-bottom: 10px;
      }

      p {
        font-size: 13px;
      }

    }

  }

  .last {
    border-bottom: 0;
    border-right: 0;
  }


}

