.footer {
  background-color: $light-gray;
  border-top: 1px solid $border-gray;
  padding: 30px 50px;

  .links-holder {

    ul {

      li {
         border-right: 1px solid $border-gray;
         display: inline-block;
         padding: 0 10px;

         @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
           padding: 0 2px;
         }

          &:last-of-type {
            border-right: 0;
          }

        a {
          color: $text-color;
          font-size: 15px;
          text-decoration: none;
        }

      }

    }

  }

  .payment-holder {

    img {
      margin: 0 auto;
    }

  }

  .social-holder {

    @media only screen and (max-width: 767px) {
      text-align: center;
    }

    .block-title {
      @include  font-size(15px);
      display: inline-block;
      float: right;
      margin-right: 10px;

      @media only screen and (max-width: 767px) {
        float: none;
      }

    }

    .social-list {
      float: right;

      @media only screen and (max-width: 767px) {
        display: inline-block;
        float: none;
      }

    }

  }

  .mobile-links {
    margin-bottom: 40px;
    overflow: hidden;
    text-align: center;

    .block-title {
      @include  font-size(17px);
      text-transform: uppercase;
    }


    ul {

      li {
        padding: 10px 0;

        a {
          color: $text-color;
        }

      }

    }

  }

}
